// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-card {
  box-sizing: border-box;
  border: 1px solid gray;
  height: 100px;
}
